.anchor-container{
    width: 100%;
    margin: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.anchor-container a{
    font-size: 18px;
    background-color: white;
    text-decoration: none;
    color: black;   
    width: 100%;
    margin: 10px 0;
}

.anchor-container a:hover{
    text-decoration: underline;
    color: red;
    transition: .3s;
}