<nav>
    <ul>
        <div>
            <li><a routerLink="">UserPage</a></li>
        </div>
        <div class="auth">
            <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
            <li *ngIf="!isLoggedIn"><a routerLink="/signup">Signup</a></li>
            <li *ngIf="isLoggedIn"><a routerLink="/admin">Admin</a></li>
            <li *ngIf="isLoggedIn"><a routerLink="/profile">Profile</a></li>
            <li *ngIf="isLoggedIn"><a (click)="logout()">Log out</a></li>
        </div>
    </ul>
</nav>