<div class="backdrop">
  <div class="modal">

    <div class="header">
      <h2>Basket</h2>
    </div>

    <div class="container-cart-item">

      <div class="cart-item">

        <div class="cart-img">
          <img src="https://www.bookovka.ua/762759-large_default/tales-of-ordinary-madness.jpg" alt="">
        </div>

        <div class="cart-title">Call of the Wild. White Fang</div>

        <div>
          <button class="remove-item"></button>
        </div>

        <div class="cart-but-details">

          <div class="price">
            <label>$21.44 / 1 pcs.</label>
          </div>

          <div class="money-details">

            <div class="quantity">

              <button class="crement"></button>
              <h2>2</h2>
              <button class="crement"></button>

            </div>

            <div>
              <h2>50.44$</h2>
            </div>

          </div>
        </div>
      </div>

      <div class="cart-item">

        <div class="cart-img">
          <img src="https://www.bookovka.ua/762759-large_default/tales-of-ordinary-madness.jpg" alt="">
        </div>

        <div class="cart-title">Call of the Wild. White Fang</div>

        <div>
          <button class="remove-item"></button>
        </div>

        <div class="cart-but-details">

          <div class="price">
            <label>$21.44 / 1 pcs.</label>
          </div>

          <div class="money-details">

            <div class="quantity">

              <button class="crement"></button>
              <h2>2</h2>
              <button class="crement"></button>

            </div>

            <div>
              <h2>50.44$</h2>
            </div>

          </div>
        </div>
      </div>

      <div class="cart-item">

        <div class="cart-img">
          <img src="https://www.bookovka.ua/762759-large_default/tales-of-ordinary-madness.jpg" alt="">
        </div>

        <div class="cart-title">Call of the Wild. White Fang</div>

        <div>
          <button class="remove-item"></button>
        </div>

        <div class="cart-but-details">

          <div class="price">
            <label>$21.44 / 1 pcs.</label>
          </div>

          <div class="money-details">

            <div class="quantity">

              <button class="crement"></button>
              <h2>2</h2>
              <button class="crement"></button>

            </div>

            <div>
              <h2>50.44$</h2>
            </div>

          </div>
        </div>
      </div>

      <div class="cart-item">

        <div class="cart-img">
          <img src="https://www.bookovka.ua/762759-large_default/tales-of-ordinary-madness.jpg" alt="">
        </div>

        <div class="cart-title">Call of the Wild. White Fang</div>

        <div>
          <button class="remove-item"></button>
        </div>

        <div class="cart-but-details">

          <div class="price">
            <label>$21.44 / 1 pcs.</label>
          </div>

          <div class="money-details">

            <div class="quantity">

              <button class="crement"></button>
              <h2>2</h2>
              <button class="crement"></button>

            </div>

            <div>
              <h2>50.44$</h2>
            </div>

          </div>
        </div>
      </div>

      <div class="cart-item">

        <div class="cart-img">
          <img src="https://www.bookovka.ua/762759-large_default/tales-of-ordinary-madness.jpg" alt="">
        </div>

        <div class="cart-title">Call of the Wild. White Fang</div>

        <div>
          <button class="remove-item"></button>
        </div>

        <div class="cart-but-details">

          <div class="price">
            <label>$21.44 / 1 pcs.</label>
          </div>

          <div class="money-details">

            <div class="quantity">

              <button class="crement"></button>
              <h2>2</h2>
              <button class="crement"></button>

            </div>

            <div>
              <h2>50.44$</h2>
            </div>

          </div>
        </div>
      </div>

      <div class="cart-item">

        <div class="cart-img">
          <img src="https://www.bookovka.ua/762759-large_default/tales-of-ordinary-madness.jpg" alt="">
        </div>

        <div class="cart-title">Call of the Wild. White Fang</div>

        <div>
          <button class="remove-item"></button>
        </div>

        <div class="cart-but-details">

          <div class="price">
            <label>$21.44 / 1 pcs.</label>
          </div>

          <div class="money-details">

            <div class="quantity">

              <button class="crement"></button>
              <h2>2</h2>
              <button class="crement"></button>

            </div>

            <div>
              <h2>50.44$</h2>
            </div>

          </div>
        </div>
      </div>

      <div class="total">

        <div>
          <label>Payable without delivery: </label>
        </div>
        <div>
          <h2>201.55$</h2>
        </div>

      </div>

      <div class="order">
        <button class="place-order" (click)="close.emit()">Place an order</button>
      </div>

    </div>
  </div>