<app-navigation-user></app-navigation-user>

<div class="wrapper">

  <div class="container">
    <div class="image-content">
      <img src={{book.imageUrl}} alt="">
    </div>

    <div class="main-content">

      <div class="title">
        <p>{{book.title}}</p>
      </div>

      <div class="authors">
        <a *ngFor="let author of authors" routerLink="/books/author/{{author.id}}" >{{author.fullName}}</a>
        <label> 1985</label>
      </div>

      <div class="price">
        <p>{{book.price | currency }}</p>
      </div>

      <div class="bool-detail">
        <label>
          <em>Available in stock in quantity</em>: {{book.quantity}} pcs.
        </label>
        <br>
        <label>
          <em>Categories: </em><label *ngFor="let category of categories">{{category.name}} </label>
        </label>
      </div>

      <div class="buttons">
        <button class="buy">BUY</button>
      </div>

    </div>
  </div>


  <div class="footer-content">
    <div class="description">
      <p>Description</p>
      <hr />
      <label>{{book.description}}</label>
    </div>
  </div>

</div>